<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mehtank.androminion"
    android:versionCode="205"
    android:versionName="2.05" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Androminon" >
        <activity android:name=".activities.MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- compatibility to DominionShuffle -->
        <activity-alias
            android:name=".Androminion"
            android:targetActivity=".activities.MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias> 

        <activity android:name=".activities.GameActivity" />
        <activity android:name=".activities.StartGameActivity" />
        <activity android:name=".activities.CombinedStatsActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AboutActivity" />

        <service
            android:name=".server.DominionServer"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.mehtank.androminion.SERVER" />
            </intent-filter>
        </service>
    </application>

</manifest>
