<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mehtank.androminion"
    android:versionCode="205"
    android:versionName="2.05" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:resizeable="true"
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:anyDensity="true"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Androminon" >
        <activity android:name=".activities.MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Androminion"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.StartGameActivity"></activity>
        <activity android:name=".activities.CombinedStatsActivity"></activity>
        <activity android:name=".activities.SettingsActivity" ></activity>
        <activity android:name=".activities.AboutActivity"></activity>


        <service
            android:name=".server.DominionServer"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.mehtank.androminion.SERVER" />
            </intent-filter>
        </service>

    </application>

</manifest>