<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mehtank.androminion"
    android:versionCode="401"
    android:versionName="4.01" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock">
        <activity android:name=".activities.MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- compatibility to DominionShuffle -->
        <activity-alias
            android:name=".Androminion"
            android:targetActivity=".activities.MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activities.GameActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.StartGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mehtank.androminion.activities.MenuActivity" />
        </activity>
        <activity android:name=".activities.StatisticsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mehtank.androminion.activities.MenuActivity" />
        </activity>
        <activity android:name=".activities.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mehtank.androminion.activities.MenuActivity" />
        </activity>
        <activity android:name=".activities.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mehtank.androminion.activities.MenuActivity" />
        </activity>

        <service
            android:name=".server.DominionServer"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.mehtank.androminion.SERVER" />
            </intent-filter>
        </service>
    </application>

</manifest>